
<div class="p-4 sm:ml-64">
    <section class="">
        <div>
            <!-- <p class="text-2xl mb-5">Contact / Users</p> -->
            <nav class="bg-grey-light w-full rounded-md">
                <ol class="list-reset flex">
                    <li>
                        <a routerLink="main"
                            class="text-blue transition duration-150 ease-in-out hover:text-blue-accent-300 focus:text-blue-accent-300 active:text-blue-accent-300 motion-reduce:transition-none">Dashboard</a>
                    </li>
                    <li class="text-neutral-400"></li>
                </ol>
            </nav>
            <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">


                <div class="overflow-x-auto m-5">
                    <p>Hi, {{user.contact.alias}}!</p>
                </div>

            </div>
        </div>
    </section>
</div>


