<app-search class="z-20"></app-search>
<aside id="separator-sidebar" class="fixed top-0 bottom-0 w-72 min-h-full transition-transform -translate-x-full sm:translate-x-0 z-10"
    aria-label="Sidebar">
    <div class="px-3 py-4 overflow-y-auto bg-indigo-600 min-h-full">
        <ul class="pb-4 mb-4 space-y-1 font-medium border-b border-gray-200 ">
            <li>
                <button type="button" (click)="openAccount()" class="flex items-center p-2 w-full text-base font-normal text-indigo-200 rounded-lg transition duration-75 group hover:bg-indigo-700  " aria-controls="dropdown-pages" data-collapse-toggle="dropdown-pages">
                    <img class="w-8" src="../../../assets/account.png" alt="account">
                    <span class="flex-1 ml-3 text-left whitespace-nowrap">Account</span>
                    <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
                @if(isOpenAccount) {
                    <ul id="dropdown-pages" class=" py-2 space-y-2">
                        <li>
                            <a routerLink="/home/account" class="flex items-center p-1 pl-11 w-full text-sm font-normal text-indigo-200 rounded-lg transition duration-75 group hover:bg-indigo-700  ">My Profile</a>
                        </li>
                        <li>
                            <button (click)="logout()"
                                class="flex items-center p-1 pl-11 w-full text-center text-sm font-normal text-white rounded-lg transition duration-75 group bg-red-600 hover:bg-red-700">Log
                                out</button>
                        </li>
                    </ul>
                }
            </li>
        </ul>
        <ul class="space-y-2 font-normal font-nunito">
            <li>
                <a routerLink="main"
                    class="flex items-center p-2 text-indigo-200 rounded-lg hover:bg-indigo-700 group hover:text-white">
                    <svg class="flex-shrink-0 w-6 h-6 text-indigo-200 transition duration-75 group-hover:text-white"
                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                        viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m4 12 8-8 8 8M6 10.5V19a1 1 0 0 0 1 1h3v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h3a1 1 0 0 0 1-1v-8.5" />
                    </svg>
                    <span class="ms-3">Home</span>
                </a>
            </li>


            <li>
                <button type="button" (click)="openContacts()" class="flex items-center p-2 w-full text-base font-normal text-indigo-200 rounded-lg transition duration-75 group hover:bg-indigo-700  " aria-controls="dropdown-pages" data-collapse-toggle="dropdown-pages">
                    <svg class="flex-shrink-0 w-5 h-5 text-indigo-200 transition duration-75  group-hover:text-white "
                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                        <path
                            d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z" />
                    </svg>
                    <span class="flex-1 ml-3 text-left whitespace-nowrap">Contacts</span>
                    <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
                @if(isOpenContacts) {
                    <ul id="dropdown-pages" class=" py-2 space-y-2">
                        <li>
                            <a routerLink="contacts/roles" class="flex items-center p-1 pl-11 w-full text-sm font-normal text-indigo-200 rounded-lg transition duration-75 group hover:bg-indigo-700  ">New</a>
                        </li>
                        <li>
                            <a routerLink="contacts/roles" class="flex items-center p-1 pl-11 w-full text-sm font-normal text-indigo-200 rounded-lg transition duration-75 group hover:bg-indigo-700  ">Roles</a>
                        </li>
                        <li>
                            <a routerLink="contacts/groups" class="flex items-center p-1 pl-11 w-full text-sm font-normal text-indigo-200 rounded-lg transition duration-75 group hover:bg-indigo-700  ">Groups</a>
                        </li>
                    </ul>
                }
            </li>
            <li>
                <a routerLink="events"
                    class="flex items-center p-2 text-indigo-200 rounded-lg  hover:bg-indigo-700  group hover:text-white">
                    <svg class="flex-shrink-0 w-6 h-6 text-indigo-200 transition duration-75  group-hover:text-white "
                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 10h16M8 14h8m-4-7V4M7 7V4m10 3V4M5 20h14c.6 0 1-.4 1-1V7c0-.6-.4-1-1-1H5a1 1 0 0 0-1 1v12c0 .6.4 1 1 1Z" />
                    </svg>
                    <span class="flex-1 ms-3 whitespace-nowrap">Events</span>
                </a>
            </li>
            <li>
                <a routerLink="notifications"
                    class="flex items-center p-2 text-indigo-200 rounded-lg  hover:bg-indigo-700  group hover:text-white">
                    <svg class="flex-shrink-0 w-5 h-5 text-indigo-200 transition duration-75  group-hover:text-white "
                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="m17.418 3.623-.018-.008a6.713 6.713 0 0 0-2.4-.569V2h1a1 1 0 1 0 0-2h-2a1 1 0 0 0-1 1v2H9.89A6.977 6.977 0 0 1 12 8v5h-2V8A5 5 0 1 0 0 8v6a1 1 0 0 0 1 1h8v4a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-4h6a1 1 0 0 0 1-1V8a5 5 0 0 0-2.582-4.377ZM6 12H4a1 1 0 0 1 0-2h2a1 1 0 0 1 0 2Z" />
                    </svg>
                    <span class="flex-1 ms-3 whitespace-nowrap">Notification</span>
                    <span
                        class="inline-flex items-center justify-center w-3 h-3 p-3 ms-3 text-sm font-medium text-blue-800 bg-blue-100 rounded-full  ">3</span>
                </a>
            </li>
            <li>
                <button type="button" (click)="openProcess()"
                    class="flex items-center p-2 w-full text-base font-normal text-indigo-200 rounded-lg transition duration-75 group hover:bg-indigo-700 hover:text-white "
                    aria-controls="dropdown-pages" data-collapse-toggle="dropdown-pages">
                    <svg class="flex-shrink-0 w-5 h-5 text-indigo-200 transition duration-75  group-hover:text-white "
                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                        <path d="M18 0H6a2 2 0 0 0-2 2h14v12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Z" />
                        <path
                            d="M14 4H2a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2ZM2 16v-6h12v6H2Z" />
                    </svg>
                    <span class="flex-1 ml-3 text-left whitespace-nowrap hover:text-white">Process</span>
                    <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </button>
                @if(isOpenProcess) {
                <ul id="dropdown-pages" class=" py-2 space-y-2">
                    <li>
                        <a href="#"
                            class="flex items-center p-1 pl-11 w-full text-sm font-normal text-indigo-200 rounded-lg transition duration-75 group hover:bg-indigo-700  ">Waiting</a>
                    </li>
                    <li>
                        <a href="#"
                            class="flex items-center p-1 pl-11 w-full text-sm font-normal text-indigo-200 rounded-lg transition duration-75 group hover:bg-indigo-700  ">System</a>
                    </li>
                    <li>
                        <a href="#"
                            class="flex items-center p-1 pl-11 w-full text-sm font-normal text-indigo-200 rounded-lg transition duration-75 group hover:bg-indigo-700  ">Types</a>
                    </li>
                </ul>
                }

            </li>
            <li>
                <button type="button" (click)="openJobs()"
                    class="flex items-center p-2 w-full text-base font-normal text-indigo-200 rounded-lg transition duration-75 group hover:bg-indigo-700 hover:text-white "
                    aria-controls="dropdown-pages" data-collapse-toggle="dropdown-pages">
                    <svg class="flex-shrink-0 w-6 h-6 text-indigo-200 transition duration-75  group-hover:text-white "
                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                        <path fill-rule="evenodd"
                            d="M2 6c0-1.1.9-2 2-2h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6Zm5 2a1 1 0 0 0 0 2 1 1 0 1 0 0-2Zm4 0a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2h-6Zm-4 3a1 1 0 1 0 0 2 1 1 0 1 0 0-2Zm4 0a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2h-6Zm-4 3a1 1 0 1 0 0 2 1 1 0 1 0 0-2Zm4 0a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2h-6Z"
                            clip-rule="evenodd" />
                    </svg>
                    <span class="flex-1 ml-3 text-left whitespace-nowrap hover:text-white">Jobs</span>
                    <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </button>
                @if(isOpenJobs) {
                <ul id="dropdown-pages" class=" py-2 space-y-2">
                    <li>
                        <a href=""
                            class="flex items-center p-1 pl-11 w-full text-sm font-normal text-indigo-200 rounded-lg transition duration-75 group hover:bg-indigo-700  ">Waiting</a>
                    </li>
                    <li>
                        <a href=""
                            class="flex items-center p-1 pl-11 w-full text-sm font-normal text-indigo-200 rounded-lg transition duration-75 group hover:bg-indigo-700  ">New</a>
                    </li>
                    <li>
                        <a href=""
                            class="flex items-center p-1 pl-11 w-full text-sm font-normal text-indigo-200 rounded-lg transition duration-75 group hover:bg-indigo-700  ">Types</a>
                    </li>
                    <li>
                        <a href=""
                            class="flex items-center p-1 pl-11 w-full text-sm font-normal text-indigo-200 rounded-lg transition duration-75 group hover:bg-indigo-700  ">Groups</a>
                    </li>
                </ul>
                }

            </li>

            <li>
                <button type="button" (click)="openItems()"
                    class="flex items-center p-2 w-full text-base font-normal text-indigo-200 rounded-lg transition duration-75 group hover:bg-indigo-700 hover:text-white "
                    aria-controls="dropdown-pages" data-collapse-toggle="dropdown-pages">
                    <svg class="flex-shrink-0 w-6 h-6 text-indigo-200 transition duration-75  group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M5.005 10.19a1 1 0 0 1 1 1v.233l5.998 3.464L18 11.423v-.232a1 1 0 1 1 2 0V12a1 1 0 0 1-.5.866l-6.997 4.042a1 1 0 0 1-1 0l-6.998-4.042a1 1 0 0 1-.5-.866v-.81a1 1 0 0 1 1-1ZM5 15.15a1 1 0 0 1 1 1v.232l5.997 3.464 5.998-3.464v-.232a1 1 0 1 1 2 0v.81a1 1 0 0 1-.5.865l-6.998 4.042a1 1 0 0 1-1 0L4.5 17.824a1 1 0 0 1-.5-.866v-.81a1 1 0 0 1 1-1Z" clip-rule="evenodd"/>
                        <path d="M12.503 2.134a1 1 0 0 0-1 0L4.501 6.17A1 1 0 0 0 4.5 7.902l7.002 4.047a1 1 0 0 0 1 0l6.998-4.04a1 1 0 0 0 0-1.732l-6.997-4.042Z"/>
                      </svg>                                            
                    <span class="flex-1 ml-3 text-left whitespace-nowrap hover:text-white">Items</span>
                    <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </button>
                @if(isOpenItems) {
                <ul id="dropdown-pages" class=" py-2 space-y-2">
                    <li>
                        <a href=""
                            class="flex items-center p-1 pl-11 w-full text-sm font-normal text-indigo-200 rounded-lg transition duration-75 group hover:bg-indigo-700  ">Warning</a>
                    </li>
                    <li>
                        <a href=""
                            class="flex items-center p-1 pl-11 w-full text-sm font-normal text-indigo-200 rounded-lg transition duration-75 group hover:bg-indigo-700  ">New</a>
                    </li>
                    <li>
                        <a href=""
                            class="flex items-center p-1 pl-11 w-full text-sm font-normal text-indigo-200 rounded-lg transition duration-75 group hover:bg-indigo-700  ">Types</a>
                    </li>
                    <li>
                        <a href=""
                            class="flex items-center p-1 pl-11 w-full text-sm font-normal text-indigo-200 rounded-lg transition duration-75 group hover:bg-indigo-700  ">Groups</a>
                    </li>
                </ul>
                }

            </li>
            <li>
                <a routerLink="main"
                    class="flex items-center p-2 text-indigo-200 rounded-lg hover:bg-indigo-700 group hover:text-white">
                    <svg class="flex-shrink-0 w-6 h-6 text-indigo-200 transition duration-75  group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M4.857 3A1.857 1.857 0 0 0 3 4.857v4.286C3 10.169 3.831 11 4.857 11h4.286A1.857 1.857 0 0 0 11 9.143V4.857A1.857 1.857 0 0 0 9.143 3H4.857Zm10 0A1.857 1.857 0 0 0 13 4.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 21 9.143V4.857A1.857 1.857 0 0 0 19.143 3h-4.286Zm-10 10A1.857 1.857 0 0 0 3 14.857v4.286C3 20.169 3.831 21 4.857 21h4.286A1.857 1.857 0 0 0 11 19.143v-4.286A1.857 1.857 0 0 0 9.143 13H4.857ZM18 14a1 1 0 1 0-2 0v2h-2a1 1 0 1 0 0 2h2v2a1 1 0 1 0 2 0v-2h2a1 1 0 1 0 0-2h-2v-2Z" clip-rule="evenodd"/>
                      </svg>                      
                    <span class="ms-3">Dashboards</span>
                </a>
            </li>

        </ul>
        
    </div>
</aside>



<router-outlet></router-outlet>



            